@{
    ViewBag.Title = "Index";
}

<h2>Rooms Vertical Grouping</h2>

@(Html.Kendo().Scheduler<FestivalScheduler.Models.MeetingViewModel>()
    .Name("scheduler")
         .StartTime(new DateTime(DateTime.Now.Year, DateTime.Now.Month - 1, DateTime.Now.Day, 7, 00, 00))
    .Views(views =>
    {
        views.DayView();
        views.WeekView(view => view.Selected(true));
        views.MonthView();
        views.AgendaView();
    })
    .Timezone("Etc/UTC")
    .Group(group => group.Resources("Rooms").Orientation(SchedulerGroupOrientation.Vertical))
         .Resources(resource =>
             {
                 resource.Add(m => m.RoomID)
                     .Title("Room")
                     .Name("Rooms")
                     .DataTextField("Text")
                     .DataValueField("Value")
                     .DataColorField("Color")
                     .DataSource(ds => ds.Read(read => read.Action("Room_Read", "Room"))
                   );
                 resource.Add(m => m.Attendees)
                     .Title("Attendees")
                     .Multiple(true)
                     .DataTextField("Text")
                     .DataValueField("Value")
                     .DataColorField("Color")
                     .DataSource(ds => ds.Read(read => read.Action("Attendee_Read", "Attendee"))
                   );
             })
    .DataSource(d => d
            .Model(m =>
            {
                m.Id(f => f.MeetingID);
                m.Field(f => f.Title).DefaultValue("No title");
                m.RecurrenceId(f => f.RecurrenceID);
                m.Field(f => f.Title).DefaultValue("No title");
            })
                 .Read("Grouping_Horizontal_Read", "HScheduler")
                .Create("Grouping_Horizontal_Create", "HScheduler")
                .Destroy("Grouping_Horizontal_Destroy", "HScheduler")
                .Update("Grouping_Horizontal_Update", "HScheduler")
        ).EventTemplate(
                        "<div class='view-template'>" +
                                "#= kendo.toString(start, 'hh:mm') # - #= kendo.toString(end, 'hh:mm') #" +
                            "<br/>" +
                            "#= title #<br/>" +
                            "#= kendo.toString('Room ') #" +
                            "#= RoomID #" +
                        "</div>")
)