@model IEnumerable<FestivalScheduler.Models.Resouces.RoomViewModel>
@{
    ViewBag.Title = "Mix";
}

<h2>Schedule</h2>

@(Html.Kendo().Scheduler<FestivalScheduler.Models.MeetingViewModel>()
    .Name("scheduler")
    .Editable(false)
        .StartTime(new DateTime(DateTime.Now.Year, 1, 1, 7, 00, 00))
        .Width(1080)
            .MajorTick(60)
            .MinorTickCount(4)
    .Views(views =>
    {
        views.DayView(view => view.Selected(true));
        views.WeekView();
        views.MonthView();
        views.AgendaView();
    })
    .Timezone("Etc/UTC")
       .Resources(resource =>
         {
             resource.Add(m => m.RoomID)
                 .Title("Room")
                 .Name("Rooms")
                 .DataTextField("Text")
                 .DataValueField("Value")
                 .DataColorField("Color")
                 .DataSource(ds => ds.Read(read => read.Action("Room_Read", "Room"))
               );
             resource.Add(m => m.Attendees)
                 .Title("Attendees")
                 .Multiple(true)
                 .DataTextField("Text")
                 .DataValueField("Value")
                 .DataColorField("Color")
                 .DataSource(ds => ds.Read(read => read.Action("Attendee_Read", "Attendee"))
               );
         })
    .DataSource(d => d
            .Model(m =>
            {
                m.Id(f => f.MeetingID);
                m.Field(f => f.Title).DefaultValue("No title");
                m.RecurrenceId(f => f.RecurrenceID);
                m.Field(f => f.Title).DefaultValue("No title");
            })
            .Read("Grouping_Horizontal_Read", "Scheduler")
        ).EventTemplate(
                    "<div class='view-template'>" +
                            "#= kendo.toString(start, 'hh:mm') # - #= kendo.toString(end, 'hh:mm') #" +
                        "<br/>" +
                        "#= title #<br/>" +
                        "#= description #" +
                    "</div>")

)